/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #3AAFA9;
  color: #f1f5f9;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: linear-gradient(120deg ,#3AAFA9);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
}

.logo span {
  color: #233e47;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #233e47;
  transition: 0.3s;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffffff;
}

/* Hero Section */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a8d88;
  text-align: center;
}

.hero-content h2 {
  font-size: 2.8rem;
  color: #f1f5f9;
}

.hero-content span {
  color: #233e47;
}

.hero-content p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #e2e8f0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #233e47;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #35a39e;
}

/* Section General */
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #233e47;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* About */
.about p {
  text-align: center;
  font-size: 1.5rem;
  color: #cbd5e1;
  max-width: 780px;
  margin: auto;
}

/* Projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.project-card {
  background: #233e47;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
    display: block;
  text-decoration: none;
  color: #f1f5f9;
}

.project-card:hover {
  transform: translateY(-5px);
  background: #232d30;
}

.project-card h3 {
  color: #05d0bc;
  margin-bottom: 10px;
}

/* Contact */
.contact p {
  text-align: center;
  font-size: 1.1rem;
}

.contact a {
  color: #015151;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #1e293b;
  color: #94a3b8;
  margin-top: 30px;
}

