* {
  margin: 0;
padding: 0;
 box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
line-height: 1.6;
  background: #3AAFA9;
  color: #222;
}
.navbar {
 display: flex;
 justify-content: space-between;
  align-items: center;
  background: #222831;
color: #fff;
  padding: 1rem 2rem;
}

.navbar .logo {
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar nav a {
  color: #e1e1e1;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 500;

}
.navbar nav a:hover{
  color: #3AAFA9;
 
  transform: scale(1.1);
}
.hero {

  color: white;
  padding: 4rem 2rem;
  text-align: center;
  background:linear-gradient(360deg,#233e47cf,#222831)
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background: #233e47;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.btn:hover{
  background-color: #2e525e;
  transform: scale(1.05);
  
}

.about {
  text-align: center;
  color: #233e47;
  padding: 2rem;
  background: #2b9590;
  
}

.about h2 {
  margin-bottom: 1rem;
  color: #f9fcfd;
}
.showcase {
  padding: 2rem;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.card {
  background: #233e47;
 color: white;
border-radius: 10px;
padding: 1rem;
 width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
}
.card:hover{
 background:linear-gradient(120deg,#deff4a,#ff6868,#6df0f5)
   
}

.card img {

  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin-top: 0.5rem;
}

.cta {
 background: #222831;
 color: white;
 text-align: center;
padding: 2rem;

}
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 1rem;
}
.form-section {
background: #222831;
padding: 2rem;
  max-width: 600px;
 margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}

.form-section h2 {
  text-align: center;
  color: white;
  margin-bottom: 1rem;

}

.form-section p {


  text-align: center;
  margin-bottom: 2rem;
   color: #bebebe;

}

.join-form {
  display: flex;
 flex-direction: column;

  gap: 1rem;
}

.join-form input,
.join-form textarea,
.join-form select {
  padding: 0.75rem;
  border: 1px solid #5d5b5b;
border-radius: 12px;
  font-size: 1rem;
 resize: vertical;
}
.join-form button {
  background: #323b49;
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.join-form button:hover {
  background: #4b576c;
  transform: scale(1.05);
}
.about-us {

  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background: #222831;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  color: #4bc5bf;
  
}

.about-us h2 {
  color: white;
  margin-top: 1.5rem;

  margin-bottom: 0.5rem;
}

.about-us p {
  margin-bottom: 1rem;
  line-height: 1.6;

}
#animatedHeading {
font-size: 2rem;
color: #fcfcfc;
display: inline-block;
}

